# This file is part of GNU Mailutils testsuite.
# Copyright (C) 2002, 2010 Free Software Foundation, Inc.
# See file COPYING for distribution conditions.
set quiet nocrt dot
set screen=10 columns=80
set indentprefix="> "
set nometamail
